@model BookingBus.Models.Utilisateur

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create","Utilisateurs",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/Content/BookingBus.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form>
                @Html.LabelFor(model => model.nom_complet, htmlAttributes: new { @class = "badge badge-warning w-25 fadeIn first " })
                <input type="text" id="login" class="fadeIn second" name="nom_complet" placeholder="Nom Complet">

                @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "badge badge-warning w-25 fadeIn first " })
                <input type="text" id="pass" class="fadeIn third" name="mail" placeholder="E-mail"><br />
                @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                <p class="text-danger" style=" font-family:Arial;font-size:12px ">@ViewBag.exist</p>

                @Html.LabelFor(model => model.mdp, htmlAttributes: new { @class = "badge badge-warning w-25 fadeIn first " })
                <input type="password" id="log" class="fadeIn second" name="mdp" placeholder="Mot de passe"><br />
                @Html.ValidationMessageFor(model => model.mdp, "", new { @class = "text-danger" })<br />
                @Html.LabelFor(model => model.telephone, htmlAttributes: new { @class = "badge badge-warning w-25 fadeIn first " })
                <input type="text" id="lgin" class="fadeIn second" name="telephone" placeholder="06-XX-XX-XX-XX">
                @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })<br />

                @if (ViewBag.role != null)
                {
                    if (ViewBag.role == "societe")
                    {
                        <input type="text" id="login" class="fadeIn second" name="lieu" placeholder="Lieu">
                    }
                }

                <input type="file" name="imagefile" class="fadeIn second" />

                <input hidden name="role" value="@ViewBag.role" />
                <input type="submit" class="fadeIn fourth" value="S'inscrire" style="background-color: #F59A2E">

            </form>

            <!-- Remind Passowrd -->

        </div>
    </div>
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
