@model BookingBus.Models.Utilisateur

@{
    ViewBag.Title = "Delete";
}


    <div class="container" style="text-align:center">
        <h3>êtes vous sûr de vouloir supprimer ?</h3>
    </div>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <form>
                @Html.DisplayNameFor(model => model.nom_complet)
                @Html.DisplayFor(model => model.nom_complet,new { @class= "fadeIn second" })

                @Html.DisplayNameFor(model => model.mail)
                @Html.DisplayFor(model => model.mail, new { @class = "fadeIn second" })

                @Html.DisplayNameFor(model => model.mdp)
                @Html.DisplayFor(model => model.mdp, new { @class = "fadeIn second" })

                @Html.DisplayNameFor(model => model.telephone)
                @Html.DisplayFor(model => model.telephone, new { @class = "fadeIn second" })

                @Html.DisplayNameFor(model => model.role)
                @Html.DisplayFor(model => model.role, new { @class = "fadeIn second" })

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" class="btn" value="Supprimer" style="background-color: #F59A2E" />
                    </div>
                }
            </form>
        </div>
    </div>