@model BookingBus.Models.Utilisateur

@{
    ViewBag.Title = "Details";
}



<div class="wrapper fadeInDown  ">
    <div id="formContent">

        <dl class="dl-horizontal" style="padding:5px;">
            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">

                @Html.DisplayNameFor(model => model.nom_complet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nom_complet)
            </dd>


            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">

                @Html.DisplayNameFor(model => model.mail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mail)
            </dd>


            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">

                @Html.DisplayNameFor(model => model.mdp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mdp)
            </dd>


            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">

                @Html.DisplayNameFor(model => model.telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telephone)
            </dd>


            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">

                @Html.DisplayNameFor(model => model.role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.role)
            </dd>




            @if (Session["role"] != null)
            {
                if (Session["role"].ToString() == "societe")
                {
                    <dt style="color: #F59A2E">
                        @Html.DisplayNameFor(model => model.Societe.lieu)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Societe.lieu)
                    </dd>
}
            }


        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_utilisateur }) |
        @Html.ActionLink("Back to List", "lister", new { role = Model.role })
    </p>
    </div>