@model BookingBus.Models.Abonnement

@{
    ViewBag.Title = "Delete";
}


<h3>Etes vous sûr de vouloir supprimer ?</h3>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <dl class="dl-horizontal">
            <dt class="badge badge-warning p-2 w-25">
                @Html.DisplayNameFor(model => model.date_debut)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_debut)
            </dd>

            <dt class="badge badge-warning p-2 w-25">
                @Html.DisplayNameFor(model => model.date_fin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_fin)
            </dd>

            <dt>
                <input type="hidden" name="id_societe"/>
            </dt>
            <dt class="badge badge-warning p-2 w-25">
                @Html.DisplayNameFor(model => model.prix)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prix)
            </dd>

            <dt class="badge badge-warning p-2 w-25">
                @Html.DisplayNameFor(model => model.Navette.lieu_depart)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Navette.lieu_depart)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Supprimer" class="fadeIn fourth" style="background-color: #F59A2E" /> |
                    @Html.ActionLink("Retour", "Index",new { ids=Session["UserID"].ToString()})
                </div>
        }
    </div>
</div>