@model BookingBus.Models.Abonnement

@{
    ViewBag.Title = "Details";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <dl class="dl-horizontal" style="padding:5px;">
            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                @Html.DisplayNameFor(model => model.date_debut)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_debut)
            </dd>

            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                @Html.DisplayNameFor(model => model.date_fin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_fin)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.id_societe)
            </dd>

            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                @Html.DisplayNameFor(model => model.prix)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prix)
            </dd>

            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                @Html.DisplayNameFor(model => model.Navette.lieu_depart)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Navette.lieu_depart)
            </dd>
            @Html.ActionLink("Retour", "Index")
        </dl>
    </div>
</div>