@model IEnumerable<BookingBus.Models.Abonnement>

@{
    ViewBag.Title = "Index";
}
<h2 class="text-danger">@ViewBag.msg</h2>
    <div class="container">
        <div class="col m-3" style="text-align:center">
            <a class="btn" style="background-color: #F59A2E" href="@Url.Action("Create",new { id = Session["UserID"].ToString() })"><i class="fas fa-plus"></i>Ajouter un Abonnement</a>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {<div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="card">
                        <div class="image">
                            <img src="~/Content/UserPic/@ViewBag.img" style="width:320px;height:150px;" />
                        </div>
                        <div class="card-inner">
                            <div class="header">

                                <h3>@item.Navette.lieu_depart - @item.Navette.lieu_arriver</h3>
                            </div>
                            <div class="content">
                                <p>prix: @item.prix</p>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id_abonnement }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id_abonnement }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id_abonnement })
                            </div>
                        </div>
                    </div>
                </div>



            }
        </div>
    </div>