@model IEnumerable<BookingBus.Models.Abonnement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<<<<<<< HEAD
<div class="container">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date_debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_societe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Navette.lieu_depart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Societe.lieu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date_debut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_fin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_societe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Navette.lieu_depart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Societe.lieu)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_abonnement }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_abonnement }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_abonnement })
                </td>
            </tr>
        }
=======
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Societe.Utilisateur.nom_complet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Navette.lieu_depart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Navette.lieu_arriver)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_debut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Societe.Utilisateur.nom_complet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Navette.lieu_depart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Navette.lieu_arriver)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_abonnement }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_abonnement }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_abonnement })
        </td>
    </tr>
}
>>>>>>> 742a0809ed202fcd43ea15f9d20250420e18480b

    </table>
</div>