@model IEnumerable<BookingBus.Models.Demande>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    @if (Session["role"] != null)
    {
        if (Session["role"].ToString() == "client")
        {
            <div class="col m-3" style="text-align:center">
                <a class="btn" style="background-color: #F59A2E" href="@Url.Action("Create", new { id = Session["UserID"].ToString() })"><i class="fas fa-plus"></i>Envoyer une Demande</a>
            </div>
            }
    }
<table class="table table-bordered table-hover table-responsive-lg table-hover" style="text-align:center;">
    <thead style="background-color: #F59A2E">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.depart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arriver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_depart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_arriver)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.number)
            </th>
            @if (Session["role"] != null)
            {
                if (Session["role"].ToString() == "client")
                {<th>Gestion</th> }
            }
                </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.depart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.arriver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_depart.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_arriver.TimeOfDay)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.number)
                </td>
                @if (Session["role"] != null)
                {
                    if (Session["role"].ToString() == "client")
                    {
                        <td >
                            <a href="@Url.Action("Edit", new { id = item.id_demande })"> <i class="fas fa-edit m-2"></i></a>
                            <a href="@Url.Action("Details", new { id = item.id_demande })"><i class="fas fa-info-circle m-2"></i></a>
                            <a href="@Url.Action("delete", new { id = item.id_demande })"><i class="fas fa-trash-alt m-2"></i></a>
                            
                          
                        </td>
                    }
                }

            </tr>
        }

</table>
        </div>