@model IEnumerable<BookingBus.Models.Abonnement>

@{
    ViewBag.Title = "rechercher";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card">
                    <div class="image">
                        <img src="~/Content/UserPic/@item.Societe1.Utilisateur.image" style="width:320px;height:150px;" />
                    </div>
                    <div class="card-inner">
                        <div class="header" style="text-align:center">
                            <h2 style="color:black">prix: @item.prix</h2>
                            <h4>@item.date_debut.ToShortDateString() -@item.date_fin.ToShortDateString()</h4>

                        </div>
                        <div class="content" style="text-align:center">
                            <h4>@item.Navette.lieu_depart - @item.Navette.lieu_arriver</h4>
                            <a href="@Url.Action("reserver", "clients", new { id = item.id_abonnement })" class = "btn fadeIn fourth" style="background-color: #F59A2E">Réserver</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

