@model IEnumerable<BookingBus.Models.Abonnement>

@{
    ViewBag.Title = "rechercher";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Navette.lieu_depart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Navette.lieu_arriver)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    var duree = item.date_fin.Subtract(System.DateTime.Now).Days;
    if (duree > 0)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.date_debut)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.date_fin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.prix)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Navette.lieu_depart)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Navette.lieu_arriver)
    </td>
    @if (Session["role"] != null) { 
    if (Session["role"].ToString() == "client")
    {
        <td>

           @Html.ActionLink("Reserver", "reserver", "clients", new { id = item.id_abonnement }, "")

        </td>
        }
    }
    else { <td>

    @Html.ActionLink("Reserver", "reserver", "clients", new { id = item.id_abonnement }, "")

</td>}
</tr>
    }
}

</table>
