@model BookingBus.Models.Navette

@{
    ViewBag.Title = "Details";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <dl class="dl-horizontal" style="padding:5px">
            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                @Html.DisplayNameFor(model => model.lieu_depart)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lieu_depart)
            </dd>

            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                @Html.DisplayNameFor(model => model.lieu_arriver)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lieu_arriver)
            </dd>

            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                @Html.DisplayNameFor(model => model.date_depart)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_depart)
            </dd>

            <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                @Html.DisplayNameFor(model => model.date_arriver)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_arriver)
            </dd>

        </dl>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
 
