@model BookingBus.Models.Navette

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    


<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="col" style="text-align:center">
            <h1 style="color: #F59A2E"> Modifier une navette</h1>
        </div>
        <form>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id_navette)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.lieu_depart, htmlAttributes: new { @class = "badge badge-warning w-25 fadeIn second" })
            @Html.EditorFor(model => model.lieu_depart, new { htmlAttributes = new { @class = "fadeIn second" } })
            @Html.ValidationMessageFor(model => model.lieu_depart, "", new { @class = "fadeIn second" })


            @Html.LabelFor(model => model.lieu_arriver, htmlAttributes: new { @class = "badge badge-warning w-25 fadeIn second" })
            @Html.EditorFor(model => model.lieu_arriver, new { htmlAttributes = new { @class = "fadeIn second" } })
            @Html.ValidationMessageFor(model => model.lieu_arriver, "", new { @class = "fadeIn second" })
            <div class="form-group">
                @Html.LabelFor(model => model.date_depart, htmlAttributes: new { @class = "badge badge-warning w-25 fadeIn second" })
                <br />
                @Html.EditorFor(model => model.date_depart, new { htmlAttributes = new { type = "time", @class = "fadeIn second" } })
                <br />
                @Html.ValidationMessageFor(model => model.date_arriver, "", new { @class = "fadeIn second" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.date_arriver, htmlAttributes: new { @class = " badge badge-warning w-25 fadeIn second" })
                <br />
                @Html.EditorFor(model => model.date_arriver, new { htmlAttributes = new { type = "time", @class = "fadeIn second" } })
                <br />
                @Html.ValidationMessageFor(model => model.date_arriver, "", new { @class = "fadeIn second" })
            </div>
            <input type="submit" value="modifier" style="background-color: #F59A2E" class="fadeIn fourt" />
        </form>
    </div>
    @Html.ActionLink("Retour", "Index")
</div>
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
