@model IEnumerable<BookingBus.Models.Navette>

@{
    ViewBag.Title = "Index";
}
<div class="container" >
    <div class="col m-3" style="text-align:center">
        <a class="btn" style="background-color: #F59A2E" href="@Url.Action("Create")"><i class="fas fa-plus"></i>Ajouter une navette</a>
    </div>
    <table class="table table-bordered table-hover table-responsive-lg table-hover">
        <thead style="background-color: #F59A2E">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.lieu_depart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lieu_arriver)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date_depart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date_arriver)
                </th>
                <th><i class="fas fa-edit"></i></th>
                <th><i class="fas fa-info-circle"></i></th>
                <th><i class="fas fa-trash-alt"></i></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.lieu_depart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lieu_arriver)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date_depart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date_arriver)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.id_navette })"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", new { id = item.id_navette })"><i class="fas fa-info-circle"></i></a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = item.id_navette })"><i class="fas fa-trash-alt"></i></a>
                    </td>
                 </tr>
                }
        </tbody>
    </table>
</div>