@model BookingBus.Models.Bus

@{ ViewBag.Title = "Create"; }


@using (Html.BeginForm("Create","Buses",FormMethod.Post,new {enctype="multipart/form-data" }))
{
@Html.AntiForgeryToken()
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Content/BookingBus.png" id="icon" alt="User Icon" />
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "fadeIn second" })
        <br />
        @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "fadeIn second" } })
        @Html.ValidationMessageFor(model => model.nom, "", new { @class = "fadeIn second" })

        @Html.LabelFor(model => model.nbr_place, htmlAttributes: new { @class = "fadeIn second" })
        <br />
        @Html.EditorFor(model => model.nbr_place, new { htmlAttributes = new {@type="text",@class = "fadeIn second" } })
        @Html.ValidationMessageFor(model => model.nbr_place, "", new { @class = "fadeIn second" })
        <br />
        @Html.LabelFor(model => model.climatiseur, htmlAttributes: new { @class = "fadeIn second" })

        @Html.EditorFor(model => model.climatiseur)
        @Html.ValidationMessageFor(model => model.climatiseur, "", new { @class = "fadeIn second" })
        <br />
        @Html.LabelFor(model => model.tv, htmlAttributes: new { @class = "fadeIn second" })

        @Html.EditorFor(model => model.tv)
        @Html.ValidationMessageFor(model => model.tv, "", new { @class = "fadeIn second" })
        <br />
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "fadeIn second" })
        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "fadeIn second" } })
        @Html.ValidationMessageFor(model => model.description, "", new { @class = "fadeIn second" })
        <br />
        <input name="id_societe" type="number" hidden value="@ViewBag.id" />

        @Html.LabelFor(model => model.Navette.lieu_depart, "depart", htmlAttributes: new { @class = "fadeIn second" })

        <select name="id_navette" class="fadeIn second" s="@ViewBag.idnav">
            @foreach (var item in ViewBag.navr)
            {
            <option value="@item.id_navette" >@item.lieu_depart - @item.lieu_arriver</option>}

        </select>
        @Html.ValidationMessageFor(model => model.id_navette, "", new { @class = "text-danger" })
        <br />
        <input type="file" name="imagefile" class="fadeIn second"/>
        <br />
        <input type="submit" class="fadeIn fourth" value="Ajouter" style="background-color: #F59A2E" />

    </div>
</div>
}
