@model BookingBus.Models.Bus

@{
    ViewBag.Title = "Details";
}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <dl class="dl-horizontal" style="padding:5px;">
                <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                    @Html.DisplayNameFor(model => model.nom)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nom)
                </dd>

                <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                    @Html.DisplayNameFor(model => model.nbr_place)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nbr_place)
                </dd>

                <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                    @Html.DisplayNameFor(model => model.climatiseur)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.climatiseur)
                </dd>

                <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                    @Html.DisplayNameFor(model => model.tv)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tv)
                </dd>

                <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                    @Html.DisplayNameFor(model => model.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                    @Html.DisplayNameFor(model => model.Navette.lieu_depart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Navette.lieu_depart)
                </dd>

                <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                    @Html.DisplayNameFor(model => model.Navette.lieu_arriver)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Navette.lieu_arriver)
                </dd>
                <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                    @Html.DisplayNameFor(model => model.Navette.date_depart)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Navette.date_depart)
                </dd>
                <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
                    @Html.DisplayNameFor(model => model.Navette.date_arriver)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Navette.date_arriver)
                </dd>
            </dl>
            @Html.ActionLink("Retour", "Index", new { id = Session["UserID"].ToString() })
        </div>
</div>