@model BookingBus.Models.Bus

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit","Buses", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Content/BookingBus.png" id="icon" alt="User Icon" />
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_bus)
        @Html.HiddenFor(model => model.id_societe)


        @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "fadeIn second" })
        <br />
        @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "fadeIn second" } })
        @Html.ValidationMessageFor(model => model.nom, "", new { @class = " text-danger fadeIn second" })

        @Html.LabelFor(model => model.nbr_place, htmlAttributes: new { @class = "fadeIn second" })
        <br />
        @Html.EditorFor(model => model.nbr_place, new { htmlAttributes = new { @type = "text", @class = "fadeIn second" } })
        @Html.ValidationMessageFor(model => model.nbr_place, "", new { @class = "  text-danger fadeIn second" })
        <br />
        @Html.LabelFor(model => model.climatiseur, htmlAttributes: new { @class = "fadeIn second" })

        @Html.EditorFor(model => model.climatiseur)
        @Html.ValidationMessageFor(model => model.climatiseur, "", new { @class = "  text-danger fadeIn second" })
        <br />
        @Html.LabelFor(model => model.tv, htmlAttributes: new { @class = "fadeIn second" })

        @Html.EditorFor(model => model.tv)
        @Html.ValidationMessageFor(model => model.tv, "", new { @class = "  text-danger fadeIn second" })
        <br />
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "fadeIn second" })
        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "fadeIn second" } })
        @Html.ValidationMessageFor(model => model.description, "", new { @class = " text-danger fadeIn second" })
        <br />
        @Html.LabelFor(model => model.Navette.lieu_depart, "depart", htmlAttributes: new { @class = "fadeIn second" })

        @Html.DropDownList("id_navette", null, htmlAttributes: new { @class = "fadeIn second" })
        @Html.ValidationMessageFor(model => model.id_navette, "", new { @class = "text-danger" })
        <br />
        <input type="file" name="imagefile" class="fadeIn second" />
        <br />
        <input type="submit" class="fadeIn fourth" value="Modifier" style="background-color: #F59A2E" />
    </div>
</div>
}


