@model BookingBus.Models.Effectuer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h3>Etes vous sûr de vouloir supprimer ?</h3>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="col" style="text-align:center">
            <h1 style="color: #F59A2E"> Supprimer cet Abonnement</h1>
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.duree)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.duree)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Abonnement.id_abonnement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Abonnement.id_abonnement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Client.id_utilisateur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client.id_utilisateur)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" class="fadeIn fourth" value="Supprimer" style="background-color: #F59A2E" />
            </div>
        }
    </div>
</div>
