@model BookingBus.Models.Effectuer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div>
    <h4>Effectuer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
            @Html.DisplayNameFor(model => model.duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duree)
        </dd>

        <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
            @Html.DisplayNameFor(model => model.Abonnement.id_abonnement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abonnement.id_abonnement)
        </dd>

        <dt class="badge badge-warning p-2 h4" style="width:25%;height:auto">
            @Html.DisplayNameFor(model => model.Client.id_utilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.id_utilisateur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
