@model IEnumerable<BookingBus.Models.Effectuer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Abonnement.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abonnement.nom_abonnement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Utilisateur.nom_complet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abonnement.Navette.lieu_depart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abonnement.Navette.lieu_arriver)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Abonnement.image)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Abonnement.nom_abonnement)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Client.Utilisateur.nom_complet)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.duree)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Abonnement.Navette.lieu_depart)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Abonnement.Navette.lieu_arriver)
    </td>
   
    <td>
       
        
        @Html.ActionLink("Delete", "Delete", new {  id1=item.id_client,id2=item.id_abonnement})
    </td>
</tr>
}

</table>
